<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Student</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Student Registration Form</h2>
  <form th:action="@{/students}" th:object = "${Students}" method = "POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" th:field="*{name}" class="form-control"  placeholder="Enter Student Name" name="name" >
    </div>
    
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" th:field="*{gender}" class="form-control"  placeholder="Enter Gender F/M" name = "gender" >
    </div>
    
    
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" th:field="*{age}" class="form-control"  placeholder="Enter Student Age" name = "age" >
    </div>
    
    <div class="form-group">
      <label for="email">Name</label>
      <input type="email" th:field="*{email}" class="form-control"  placeholder="Enter Student Email" name = "email" >
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
